NEXT_PUBLIC_SITE_URL=https://www.aambeyestates.com
NEXT_PUBLIC_PHONE_LABEL=+91 00000 00000
NEXT_PUBLIC_PHONE_NUMBER=+910000000000
NEXT_PUBLIC_WHATSAPP_NUMBER=910000000000
NEXT_PUBLIC_CONTACT_EMAIL=hello@aambeyestates.com
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=
